@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast {
  background: linear-gradient(to right, #4b6cb7, #182848);
  border-radius: 10px;
  padding: 20px;
  font-size: 1.5rem;
  color: white;
  min-width: 300px;
  max-width: 500px;
}

.custom-toast-body {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
}

.Toastify__progress-bar {
  background: #f39c12;
}

.Toastify__close-button {
  color: #ffffff;
  opacity: 0.7;
}

.Toastify__close-button:hover {
  opacity: 1;
}
