/* toastStyles.css */
/* Make toast like a square like 500 x 500 square*/

/* toastStyles.css */
/* Estilos personalizados para el toast */

.custom-toast{
    max-width: 500px;
    max-height: 500px;
    background-color: #ffffff; /* Fondo blanco */
    color: #333333; /* Texto oscuro */
    border: 1px solid #dddddd; /* Borde gris claro */
    border-radius: 0.25rem;
    padding: 1rem;
    margin: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 0.9rem; /* Tamaño de fuente más pequeño */
    font-weight: 400;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; /* Permitir desplazamiento si el contenido desborda */
    word-wrap: break-word; /* Permitir que las palabras largas se dividan */
}